.wrapper_with_padding
    #docs.clearfix
        -unless @docs.blank?
            %h1 All Documents 
            - @docs.each do |doc|
                %a{ href: (url_for [doc])}
                    .doc
                        %p.title= doc.title
                        %p.date= time_ago_in_words(doc.created_at)
                        %p.content= truncate(doc.content,length:100)
                        
        
        -else
            %h2 Create Docs!
            %button=link_to "Add Document", new_doc_path
    
    
    
    
    
    
    

    