#banner
    .banner_content
        %h1 Document Cabinet
        %p Lifes Work. Always Organized.
        %button=link_to "Enter", new_user_session_path
#callouts

    .callout_inner
       
        .wrapper
            .callout
              
                %h2 Orginize 
                %p A file manager made easier for you! Bitters poke sustainable etsy, meggings leggings four dollar toast vexillologist whatever gochujang flexitarian hot chicken master cleanse iceland. Normcore ugh before they sold out, DIY pickled kinfolk tumblr. +1 you probably haven't heard of them marfa 3 wolf moon next level pickled.
                
#bottom_cta
    .wrapper
        %h2 Go Ahead and Sign Up!
        %br 
        %button= link_to "Sign Up!", new_user_registration_path